body{
    background-color: #aaa;
}
.header{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
    background-color: #dcf
}
.tabs-body{
    display: flex;
    flex-direction: row;
}
.tab{
    background-color: #baf;
}
.tab:hover{
    background-color: #76f;
}
.tab-active{
    background-color: #dcf;
}
.user{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #dcf
}
